.containerheader {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .containerheader .logocontainer {
    height: 15vh;
    width: auto; }
  .containerheader .listainfocontainer {
    list-style: none; }

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

@font-face {
  font-family: bodoni;
  src: url(../font/bodoni-bd-bt/BodonBd.ttf); }

@font-face {
  font-family: raleway thin;
  src: url(../font/Raleway-Thin.ttf); }

.saludo {
  height: 80vh;
  background-color: #9E8282;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .saludo .hello {
    font-size: 250px;
    font-family: bodoni;
    justify-content: center;
    align-items: center;
    transform: translate(50px, 40px); }
  .saludo .subhello {
    font-size: 20px;
    font-family: raleway thin;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .saludo .tratamientos, .saludo .product, .saludo .ymas {
    font-size: 30px;
    width: 200px; }

.turno {
  height: 60vh;
  background-color: #EBE9E6;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .turno .imagenesturno {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .turno .imagenesturno .imgt1, .turno .imagenesturno .imgt2, .turno .imagenesturno .imgt3 {
      height: 30vh;
      width: auto; }
  .turno .ylisto {
    display: flex;
    justify-content: center;
    align-items: center; }
    .turno .ylisto .ylistop {
      font-size: 30px; }

.antesydespues, .productos, .consultas, .contactoyubicacion {
  height: 90vh;
  margin-top: 15px; }
  .antesydespues .pantesydespues, .antesydespues .pproductos, .antesydespues .pconsultas, .antesydespues .pcontactoyubicacion, .productos .pantesydespues, .productos .pproductos, .productos .pconsultas, .productos .pcontactoyubicacion, .consultas .pantesydespues, .consultas .pproductos, .consultas .pconsultas, .consultas .pcontactoyubicacion, .contactoyubicacion .pantesydespues, .contactoyubicacion .pproductos, .contactoyubicacion .pconsultas, .contactoyubicacion .pcontactoyubicacion {
    height: 30vh;
    background-color: #9E8282;
    color: white;
    font-size: 120px;
    font-family: bodoni;
    display: flex;
    justify-content: center; }

.formularioconsultas {
  margin: 15px; }
