@font-face {
  font-family: raleway thin;
  src: url(../font/Raleway-Thin.ttf); }

.containerheader {
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .containerheader .logocontainer {
    height: 10vh;
    width: auto; }
  .containerheader .nav-item {
    transition: 2s; }
    .containerheader .nav-item:hover {
      transform: scale(1.1);
      text-decoration-line: underline; }
  .containerheader .infocontainer {
    font-family: raleway thin; }
    .containerheader .infocontainer .listainfocontainer {
      list-style: none; }

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

@font-face {
  font-family: raleway thin;
  src: url(../font/Raleway-Thin.ttf); }

.footer {
  background-color: #9E8282;
  height: 5vh; }
  .footer .footerp {
    font-family: raleway thin;
    font-size: 15px;
    color: #EBE9E6;
    display: flex;
    justify-content: center;
    align-items: center; }

@font-face {
  font-family: bodoni;
  src: url(../font/bodoni-bd-bt/BodonBd.ttf); }

@font-face {
  font-family: raleway thin;
  src: url(../font/Raleway-Thin.ttf); }

.saludo {
  height: 60vh;
  background-image: url("../images/Fondohello.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .saludo .hello {
    font-size: 150px;
    font-family: bodoni;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s; }
    .saludo .hello:hover {
      transform: translateY(40px); }
  .saludo .subhello {
    font-size: 20px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s; }
    .saludo .subhello:hover {
      transform: scale(1.1); }
  .saludo .tratamientos, .saludo .product, .saludo .ymas {
    font-size: 25px;
    font-family: raleway thin;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 3s; }
    .saludo .tratamientos:hover, .saludo .product:hover, .saludo .ymas:hover {
      transform: scale(1.1); }

.turno {
  height: 40vh;
  background-color: #EBE9E6;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .turno .imagenesturno {
    height: 40vh;
    display: flex;
    align-items: center;
    transition: 2s; }
    .turno .imagenesturno:hover {
      transform: scale(1.1); }
    .turno .imagenesturno .imgt1, .turno .imagenesturno .imgt2, .turno .imagenesturno .imgt3 {
      height: 20vh;
      width: auto;
      display: flex;
      justify-content: space-between; }
  .turno .ylisto {
    display: flex;
    justify-content: center;
    align-items: center; }
    .turno .ylisto .ylistop {
      font-family: raleway thin;
      font-size: 25px;
      transition: 2s; }
      .turno .ylisto .ylistop:hover {
        transform: scale(1.1); }

.antesydespues, .sobremi, .productos, .consultas, .contactoyubicacion {
  margin-top: 15px; }
  .antesydespues .pantesydespues, .antesydespues .psobremi, .antesydespues .pproductos, .antesydespues .pconsultas, .antesydespues .pcontactoyubicacion, .sobremi .pantesydespues, .sobremi .psobremi, .sobremi .pproductos, .sobremi .pconsultas, .sobremi .pcontactoyubicacion, .productos .pantesydespues, .productos .psobremi, .productos .pproductos, .productos .pconsultas, .productos .pcontactoyubicacion, .consultas .pantesydespues, .consultas .psobremi, .consultas .pproductos, .consultas .pconsultas, .consultas .pcontactoyubicacion, .contactoyubicacion .pantesydespues, .contactoyubicacion .psobremi, .contactoyubicacion .pproductos, .contactoyubicacion .pconsultas, .contactoyubicacion .pcontactoyubicacion {
    height: 15vh;
    background-color: #9E8282;
    color: white;
    font-size: 70px;
    font-family: bodoni;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s; }
    .antesydespues .pantesydespues:hover, .antesydespues .psobremi:hover, .antesydespues .pproductos:hover, .antesydespues .pconsultas:hover, .antesydespues .pcontactoyubicacion:hover, .sobremi .pantesydespues:hover, .sobremi .psobremi:hover, .sobremi .pproductos:hover, .sobremi .pconsultas:hover, .sobremi .pcontactoyubicacion:hover, .productos .pantesydespues:hover, .productos .psobremi:hover, .productos .pproductos:hover, .productos .pconsultas:hover, .productos .pcontactoyubicacion:hover, .consultas .pantesydespues:hover, .consultas .psobremi:hover, .consultas .pproductos:hover, .consultas .pconsultas:hover, .consultas .pcontactoyubicacion:hover, .contactoyubicacion .pantesydespues:hover, .contactoyubicacion .psobremi:hover, .contactoyubicacion .pproductos:hover, .contactoyubicacion .pconsultas:hover, .contactoyubicacion .pcontactoyubicacion:hover {
      transform: scale(1.1); }

.formularioymockup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 15px; }
  .formularioymockup .formularioconsultas {
    width: 600px; }
  .formularioymockup .mockup {
    height: 400px;
    width: auto; }

.contactoyubicacion2 {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #EBE9E6; }
  .contactoyubicacion2 .mapa {
    margin: 40px; }
  .contactoyubicacion2 .textocontactoyubicacion {
    margin: 40px;
    font-size: 17px;
    font-family: raleway thin;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.imgcarrousel {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; }

.mainsobremi {
  background-color: #EBE9E6;
  display: grid;
  grid-template-columns: 50% 50%; }
  .mainsobremi .texto {
    margin: 30px;
    font-size: 17px;
    font-family: raleway thin; }
  .mainsobremi .fotosobremi {
    display: flex;
    justify-content: center;
    align-items: center; }
    .mainsobremi .fotosobremi .imgsobremi {
      height: 500px; }

@media screen and (max-width: 768px) {
  .saludo {
    height: 80vh;
    display: flex;
    flex-direction: column; }
    .saludo .hello {
      font-size: 100px;
      transition: 3s; }
      .saludo .hello:hover {
        transform: scale(1.2); }
    .saludo .subhello {
      width: 400px; }
    .saludo .tratamientos, .saludo .product, .saludo .ymas {
      font-size: 20px; }
  .turno {
    height: 60vh; }
    .turno .imagenesturno {
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 2s; }
      .turno .imagenesturno:hover {
        transform: scale(1); }
      .turno .imagenesturno .imgt1, .turno .imagenesturno .imgt2, .turno .imagenesturno .imgt3 {
        height: 15vh;
        margin-top: 10px; }
  .antesydespues .pantesydespues, .antesydespues .psobremi, .antesydespues .pproductos, .antesydespues .pconsultas, .antesydespues .pcontactoyubicacion, .sobremi .pantesydespues, .sobremi .psobremi, .sobremi .pproductos, .sobremi .pconsultas, .sobremi .pcontactoyubicacion, .productos .pantesydespues, .productos .psobremi, .productos .pproductos, .productos .pconsultas, .productos .pcontactoyubicacion, .consultas .pantesydespues, .consultas .psobremi, .consultas .pproductos, .consultas .pconsultas, .consultas .pcontactoyubicacion, .contactoyubicacion .pantesydespues, .contactoyubicacion .psobremi, .contactoyubicacion .pproductos, .contactoyubicacion .pconsultas, .contactoyubicacion .pcontactoyubicacion {
    height: 8vh;
    font-size: 50px; }
  .formularioymockup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px; }
    .formularioymockup .formularioconsultas {
      width: 450px; }
    .formularioymockup .mockup {
      height: auto;
      width: 450px;
      margin-top: 10px; }
  .contactoyubicacion2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px; }
    .contactoyubicacion2 .mapa {
      width: 450px;
      margin-top: 10px;
      margin: 0px; }
    .contactoyubicacion2 .textocontactoyubicacion {
      margin: 10px; }
  .mainsobremi {
    display: grid;
    grid-template-columns: 100%; } }
