@import "variables";
@font-face {
    font-family: raleway thin;
    src: url(../font/Raleway-Thin.ttf);
}

.containerheader {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .logocontainer {
        height: 15vh;
        width: auto;
    }

    .nav-item {
        transition: 2s;
        &:hover{
            transform: scale(1.1);
            text-decoration-line: underline;
        }
    }
    
    .infocontainer {
        font-family: raleway thin;


        .listainfocontainer {
            list-style: none;
            }
    }
    

}