@import "header";
@import "variables";
@import "reset";

@font-face {
    font-family: bodoni;
    src: url(../font/bodoni-bd-bt/BodonBd.ttf);
}
@font-face {
    font-family: raleway thin;
    src: url(../font/Raleway-Thin.ttf);
}

// INDEX - MAIN
.saludo {
    height: 80vh;
    background-image: url("../images/Fondohello.jpg");
    background-size:cover;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .hello {
        font-size: 230px;
        font-family: bodoni;
        display: flex;
        justify-content: center;
        align-items:flex-end;
        transition: 2s;
            &:hover{
                transform:translateY(40px)
        }

        }
    
    .subhello {
        font-size: 40px;
        width: 600px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        transition: 2s;
        &:hover{
            transform: scale(1.1);
        }
    }
    .tratamientos , .product , .ymas {
        font-size: 30px;
        font-family: raleway thin;
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 2s;
        &:hover{
            transform: scale(1.2);
        }
    }
}

.turno {
    height: 60vh;
    background-color: $grisclaro;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imagenesturno {
        height: 40vh;
        display: flex;
        align-items: center;
        transition: 2s;
        &:hover{
            transform: scale(1.1);
        }
        
        .imgt1, .imgt2, .imgt3 {
            height: 30vh;
            width: auto;
            display: flex;
            justify-content: space-between;
        }
    }

    .ylisto{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .ylistop {
                font-size: 30px;
                transition: 2s;
                &:hover{
                transform: scale(1.1);
                }
            }
    }
}

.antesydespues, .productos, .consultas, .contactoyubicacion {
    margin-top: 15px;
    .pantesydespues,  .pproductos, .pconsultas, .pcontactoyubicacion {
        height: 25vh;
        background-color: $rosaviejo;
        color: white;
        font-size: $titulosize;
        font-family: bodoni;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 2s;
                &:hover{
                transform: scale(1.1);
                }
    }
}

.imgayd {
    height: 500px;
    width: auto;
}


.formularioymockup {
    display: grid;
    grid-template-columns: 50% 50%;

    
    
    .formularioconsultas {
        margin: 15px;
    }
    .mockup {
        height: 450px;
        width: auto;
        margin: 15px;

    }
}

.contactoyubicacion2 {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: $grisclaro;
}

