@import "header";
@import "variables";
@import "reset";

// INDEX - MAIN
.saludo {
    height: 60vh;
    background-color: $rosaviejo;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.turno {
    height: 60vh;
    background-color: $grisclaro;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imagenesturno {
        height: 40vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .imgt1, .imgt2, .imgt3 {
            height: 30vh;
            width: auto;
        }
    }

    .ylisto{
            display: flex;
            justify-content: center;
            align-items: center;
            .ylistop {
                font-size: xx-large;
            }
    }
}
.antesydespues, .productos, .consultas, .contactoyubicacion {
    height: 90vh;
    margin-top: 15px;
    .pantesydespues,  .pproductos, .pconsultas, .pcontactoyubicacion {
        height: 30vh;
        background-color: $rosaviejo;
        color: white;
        font-size: $titulosize;
        display: flex;
        justify-content: center;
    }
}

.formularioconsultas {
    margin: 15px;
}