@import "header";
@import "variables";
@import "reset";

@font-face {
    font-family: bodoni;
    src: url(../font/bodoni-bd-bt/BodonBd.ttf);
}
@font-face {
    font-family: raleway thin;
    src: url(../font/Raleway-Thin.ttf);
}

// INDEX - MAIN
.saludo {
    height: 80vh;
    background-color: $rosaviejo;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .hello {
        font-size: 250px;
        font-family: bodoni;
        justify-content: center;
        align-items: center;
        transition: 2s;
            &:hover{
                transform:translateY(40px)
        }

        }
    
    .subhello {
        font-size: 20px;
        font-family: raleway thin;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        transition: 2s;
        &:hover{
            transform: scale(1.2);
        }
    }
    .tratamientos , .product , .ymas {
        font-size: 30px;
        width: 200px;
        transition: 2s;
        &:hover{
            transform: scale(1.2);
        }
    }
}

.turno {
    height: 60vh;
    background-color: $grisclaro;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imagenesturno {
        height: 40vh;
        display: flex;
        align-items: center;
        transition: 2s;
        &:hover{
            transform: scale(1.1);
        }
        
        .imgt1, .imgt2, .imgt3 {
            height: 30vh;
            width: auto;
            display: flex;
            justify-content: space-between;
        }
    }

    .ylisto{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .ylistop {
                font-size: 30px;
                transition: 2s;
                &:hover{
                transform: scale(1.1);
                }
            }
    }
}

.antesydespues, .productos, .consultas, .contactoyubicacion {
    height: 90vh;
    margin-top: 15px;
    .pantesydespues,  .pproductos, .pconsultas, .pcontactoyubicacion {
        height: 30vh;
        background-color: $rosaviejo;
        color: white;
        font-size: $titulosize;
        font-family: bodoni;
        display: flex;
        justify-content: center;
        transition: 2s;
                &:hover{
                transform: scale(1.1);
                }
    }
}

.formularioconsultas {
    margin: 15px;
}
